.example-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  border: 1px solid rgb(126, 126, 126);
  border-radius: 5px;
  background-color: rgb(209, 207, 207);
  padding: 5px;
  max-width: 250px;
}

.del-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 3px;
  font-weight: 700;
  margin-left: 50%;
  margin-bottom: 5px;
}
