.example-wrapper {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.del-btn {
  background-color: rgb(126, 126, 126);
  color: white;
  border: none;
  padding: 5px;
  border-radius: 3px;
  font-weight: 700;
  height: 50%;
}

.right-side {
  display: flex;
  gap: 30px;
}

.first-name {
  display: flex;
  font-size: 50px;
  font-weight: 700;
  color: #36a9ae;
  gap: 10px;
}

.gen-info-secondary {
  display: flex;
}
.gen-label {
  width: 150px;
}

.info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experience-info p {
  max-width: 100px;
  flex-wrap: wrap;
}
